<!DOCTYPE html>
<html lang="ja">

<head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
</head>

<body>
  <h1>サンプル To Do アプリケーション</h1>
  <p>以下のフォームからタスクを追加できます。</p>
  <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
          <label for="titleInput">タイトル</label><br>
          <input id="titleInput" name="title" type="text" placeholder="タイトルを入力してください">
      </div>
      <div>
          <label for="dueInput">期限:</label><br>
          <input id="dueInput" name="due_at" type="datetime-local">
      </div>
      <div>
          <label for="priorityInput">優先度</label><br>
          <select id="priorityInput" name="priority">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3" selected>3</option>
              <option value="4">4</option>
              <option value="5">5</option>
          </select>
      </div>
      <div>
          <button type="submit">送信</button>
      </div>
  </form>
  <br>

  <div>
      <a href="{% url 'index' %}?order=due">期限でソート</a> |
      <a href="{% url 'index' %}?order=post">投稿日でソート</a> |
      <a href="{% url 'index' %}?order=priority_asc">優先度昇順でソート</a> |
      <a href="{% url 'index' %}?order=priority_desc">優先度降順でソート</a>
  </div>

  {% for task in tasks %}
  <div class="text">
      <h2><a href="{% url 'detail' task.id %}">{{ task.title }}</a></h2>
      <ul>
          <li>投稿日時: {{ task.posted_at }}</li>
          {% if task.due_at %}
          <li>期限: {{ task.due_at }}</li>
          {% endif %}
          <li>優先度: {{ task.priority }}</li>
          {% if task.completed %}
          <li>ステータス: 完了</li>
          {% else %}
          <li>ステータス: 未完了</li>
          {% endif %}
      </ul>
  </div>
  {% endfor %}
</body>

</html>
